@keyframes updateAnimation {
    0% {
        opacity: 0.5;
        transform: scale(0.9);
    }

    50% {
        opacity: 1;
        transform: scale(1.1);
    }

    100% {
        opacity: 0.5;
        transform: scale(0.9);
    }
}

.updated {
    animation: updateAnimation 0.5s ease-in-out 0s 1 normal both;
    background-color: #fff;
}